@page "/product"
@inject ISearchProduct searchProduct

<h3>SearchProductComponet</h3>

@code {      
    protected override void OnInitialized()
    {
        base.OnInitialized();
        var products = searchProduct.Execute();
    }
}
