@if(OrdersParam !=null && OrdersParam.Count() > 0)
            {
<table class="table">
    <thead>
        <tr>
            <th>Date Placed</th>
            <th>Order Id</th>
            <th>Customer Name</th>
            <th>Country</th>
            <th>State / Province</th>
            <th>City</th>
            <th>Address</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var order in OrdersParam)
        {
            <OrderItemComponent OrdersData="order" />
        }
    </tbody>
</table>
            }

@code {
    [Parameter]
    public IEnumerable<Order> OrdersParam { get; set; }
}
