@inherits LayoutComponentBase
<div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">

                <a href="/shoppingcart"><BlazorApp.Pages.Products.CartComponent /></a>
                <AuthorizeView>
                    <Authorized>
                        <NavLink href="/logout">Log Out</NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink href="/login">LogIN</NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
            

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
@*<div class="main">
    <TopNav></TopNav>

    <div class="content px-4">
        @Body
    </div>
</div>*@


