@inherits LayoutComponentBase
<div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                
                <a href="/shoppingcart"><BlazorApp.Pages.Products.CartComponent/></a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
@*<div class="main">
    <TopNav></TopNav>

    <div class="content px-4">
        @Body
    </div>
</div>*@


